{{ partial "header.html" . }}

<header class="section-header" style="background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url({{ .Site.BaseURL }}{{ .Params.banner }}) 49.9% 49.9% / cover;" role="banner">
  <a class="homelink" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>

  <nav id="menu" role="navigation">
    <ul>
    {{ range .Data.Pages }}
      {{ if eq .Type "page" }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    {{ end }}
    </ul>
  </nav>
  <h1>{{ .Title }}</h1>
</header>


<div class="content">
{{ .TableOfContents }}

{{ .Content }}
</div>


{{ partial "footer.html" . }}
