{{ partial "header.html" . }}

<header class="header">
  <div class="site-title">
    <h1>{{ .Site.Title }}</h1>
    <h2>{{ .Site.Params.Subtitle }}</h2>
  </div>

  <nav id="menu" role="navigation">
    <ul>
    {{ range .Data.Pages }}
    {{ if and (eq .Type "page") (.Params.highlight) }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    {{ end }}
    </ul>
  </nav>
</header>

<div class="bio">{{ .Params.Bio }}</div>

<div class="posts">
  {{ range first 10 .Data.Pages }}
    {{ if eq .Type "post" }}
    <article>
      <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
      <h2>{{ .Date.Format "January 1, 2006" }}</h2>
      <p>{{ .Summary }}</p>
      <em><a href="{{ .Permalink }}">Read more</a></em>
    </article>
    {{ end }}
  {{ end }}
</div>

{{ partial "footer.html" . }}
