{{ partial "header.html" . }}

<header class="header">
  <div class="site-title">
    <h1>{{ .Site.Title }}</h1>
    <h2>{{ .Site.Params.Subtitle }}</h2>
  </div>

  <nav id="menu" role="navigation">
    <ul>
    {{ range .Site.Menus.main }}
    <li><a href="{{.URL}}">{{ .Pre }}<span>{{ .Name }}</span></a></li>
    {{ end }}
    </ul>
  </nav>
</header>

{{ partial "content.html" }}

<div class="row">
  <div class="posts col-md-8 col-sm-8">
    {{ range first 10 .Data.Pages }}
      {{ if eq .Type "post" }}
      <article>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <h3>{{ .Date.Format "January 2, 2006" }}</h3>
        <p>{{ .Summary }}</p>
        {{ if .Truncated }}
          <em><a class="morelink" href="{{ .Permalink }}">Read more &raquo;</a></em>
        {{ end }}
      </article>
      {{ end }}
    {{ end }}

  <div class="bio">
    {{ .Site.Params.Bio | safeHTML }}
  </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <h2>Upcoming Events</h2>
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=5rsmr2tlbsnis3q1ebjbfof4oc%40group.calendar.google.com&amp;color=%2328754E&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="100%" height="300" frameborder="0" scrolling="no"></iframe>
  </div>
</div>

{{ partial "footer.html" . }}
