
<header class="section-header">
  <a class="homelink" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
  <nav id="menu" role="navigation" class="toplinks">
    <ul>
    {{ $currentNode := . }}
    {{ range .Site.Menus.main }}
    <li><a class="navlink {{ if $currentNode.IsMenuCurrent "main" . }}active{{ end }}" href="{{.URL}}">{{ .Pre }}<span>{{ .Name }}</span></a>
    {{ end }}
    <li><a href="{{ .Site.Params.FacebookLink }}"><i class="fa fa-facebook"></i></a></li>
    </ul>
  </nav>
  <h1>{{ .Title }}</h1>
</header>
