
{{ partial "header.html" . }}
{{ partial "toplinks.html" . }}
{{ partial "content.html" . }}


<div class="row">
<div class="col-md-8 col-sm-8">

<div class="alert alert-warning" role="alert">
There is a $25 fee for documents not available on this website. Contact the Treasurer to obtain copies of other documents.
</div>

<h2>2025 Annual Meeting</h2>

<a href="../pdf/kingsgate5-proxy-2025.pdf">
    <figure class="document-thumbnail">
        <img src="../img/kingsgate5-proxy-2025-thumb.png" />
        <figcaption>
            <h4>Annual Meeting Proxy Ballot</h4>
        </figcaption>
    </figure>
</a>

<h2>New Here?</h2>

<a href="../pdf/k5hoa-mission-statement.pdf">
    <figure class="document-thumbnail">
        <img src="../img/k5hoa-mission-statement.png" />
        <figcaption>
            <h4>Mission and Vision Statement</h4>
        </figcaption>
    </figure>
</a>

<a href="../pdf/the-way-of-the-hoa.pdf">
    <figure class="document-thumbnail">
        <img src="../img/the-way-of-the-hoa-thumb.png" />
        <figcaption>
            <h4>The Way of the HOA</h4>
        </figcaption>
    </figure>
</a>

<h2>Pool Information</h2>

{{ range .Data.Pages }}
    {{ if eq .Type "pool" }}
    <a href="../pdf/{{ .Params.pdf }}">
        <figure class="document-thumbnail">
            <img src="../img/{{ .Params.thumbnail }}" />
            <figcaption>
                <h4>{{ .Title }}</h4>
            </figcaption>
        </figure>
    </a>
    {{ end }}
{{ end }}

<h2>HOA Meeting Minutes</h2>
{{ range first 6 (where .Data.Pages "Type" "minutes") }}
  {{ if not (isset .Params "title") }}
    <a href="../pdf/minutes/{{ .Date.Format "2006_01_02" }}.pdf" class="meeting-thumbnail">
        <img src="../img/k5-lion-small.png" style="width: 20px; margin-bottom: 15px;" /><br />
        {{ .Date.Format "January 2, 2006" }}
    </a>
  {{ end }}
{{ end }}
<a href="/minutes/" style="display: inline-block; clear: both;">Meeting Minutes Archive &rarr;</a>

<h2>Legal Documents</h2>

{{ range .Data.Pages }}
    {{ if eq .Type "legal" }}
    <a href="../pdf/{{ .Params.pdf }}">
        <figure class="document-thumbnail">
            <img src="../img/{{ .Params.thumbnail }}" />
            <figcaption>
                <h4>{{ .Title }}</h4>
            </figcaption>
        </figure>
    </a>
    {{ end }}
{{ end }}


</div>
</div>

{{ partial "footer.html" . }}

