{{ partial "header.html" . }}
{{ partial "toplinks.html" . }}
{{ partial "content.html" . }}


<div class="row">
<div class="col-md-3 col-md-push-9 col-sm-3 col-sm-push-9">
    <nav id="TableOfContents">
        <ul>
            <li><a href="#info">Info Sheet</a></li>
            <li><a href="#rules">Rules</a></li>
            <li><a href="#passes">Passes</a></li>
            <li><a href="#hours">Hours</a></li>
            <li><a href="#tabs">Pool Tabs</a></li>
            <li><a href="#parties">Parties</a></li>
            <li><a href="#lessons">Lessons</a></li>
            <li><a href="#swimteam">Swim Team</a></li>
            <li><a href="#lifeguards">Lifeguards</a></li>
        </ul>
    </nav>
</div>
<div class="col-md-9 col-md-pull-3 col-sm-9 col-sm-pull-3">
{{ partial "poolupdate.html" . }}

<div class="alert alert-info" role="alert">
    The pool opens Memorial Day weekend Saturday, May 23rd to May 25th 12-8pm.<br />
    <br />
    Pool phone number: 425-821-7999<br />
    Pool manager: Sarah Starr.<br />
</div>

<h2>Pool Reservations</h2>

<p>Due to COVID-19 restrictions, we are temporarily requiring reservations to use the pool. You can sign up here:</p>

<p>
<a class="btn btn-primary" href="/pool-reservations">Make Reservations</a>
</p>

<h2 id="hours">Hours</h2>

<p>We will be changing hours as of Sept 1st, and we will stay open through Sunday Sept 12th! The following hours will be in place:</p>

<dl>
    <dt>Monday-Friday (Sept 1-4 & Sept 7-11):</dt>
    <dd><p>
        8am-11am Lap swim (4 lanes)<br />
        4pm-8pm Sectioned Family Swim
    </p>
    </dd>
    <dt>Saturday-Sunday (Sept 5-6, Sept 12):</dt>
    <dd>
        <p>
        10am-8pm Sectioned Family Swim
</p>
    </dd>
</dl>

<h2 id="rules">Rules</h2>

<p>View our <a href="/pool-rules/">pool rules online</a> or visit the front desk for a copy. All of our lifeguards are authorized to eject anyone from the pool grounds for any reason at anytime.</p>
 
<h2 id="passes">Passes</h2>

<p>Each year we sell a limited number of pool passes to outside members. The pass is for your current household members. If you were a 2020 Pool Pass member and wish to renew your membership please <a href="../pdf/kingsgate5-pooluse-2020.pdf">download the form</a> with payment of $625.00 and mail to:</p>
 
<blockquote>
    Kingsgate V HOA<br />
    P.O. Box 1791<br />
    Woodinville WA. 98072<br />
</blockquote>

<p>Alternately, you can email the form to <a href="mailto:pool@kingsgate5.com">pool@kingsgate5.com</a> and pay online here (note that a online payment processing fee is included):</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="TGG9PG2QSVDVJ">
<table>
<tr><td><input type="hidden" name="on0" value="2021 Pool Pass">2021 Pool Pass</td></tr><tr><td><select name="os0" style="margin-bottom: 15px;">
<option value="Pool Pass">Pool Pass $643.75 USD</option>
</select> </td></tr>
<tr><td><input type="hidden" name="on1" value="Last Name">Last Name</td></tr><tr><td><input type="text" name="os1" maxlength="200" style="margin-bottom: 15px;"></td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<p>Refund Policy: All transactions are final, no refunds will be processed. In the event of a billing error, please send email to: <a href="mailto:treasurer@kingsgate5.com">treasurer@kingsgate5.com</a></p>

<h2 id="tabs">Pool Tabs</h2>

<p>Purchase a pool tab! You can put up to $20 on a punch card to be used at the pool for concessions. Please purchase the punch card at the front desk. Note that the tabs will not roll over after the end of the year, so you must spend your tab the same summer it's opened.</p>
 
<h2 id="lessons">Lessons</h2>

<p>Please see <a href="/pool-reservations">Pool Reservations</a> to sign up for swim lessons.</p>

<h2 id="swimteam">Swim Team</h2>

<p>We are proud to host the Kingsgate Gators swim team at our pool!  This team is open to all homeowners and pool pass purchasers ages 6-18.</p>
 
<p>If you have any questions about the Gators, including team fees, visit their website at:</p>

<p><a href="http://www.kingsgategators.org/">http://www.kingsgategators.org</a></p>
 
<h2 id="lifeguards">Lifeguards</h2>

<p>We have 2 certified lifeguards on duty at all times.  No one under the age of 7 will be allowed in the deep end without an adult.  A swim test will be given to all other young swimmers before being allowed in the deep end.</p>
 
<p>Children who are 9 and older and have passed the swim test may come to the pool by themselves.  Artificial swimming aids are only allowed in the pool when accompanied by an adult. All of our lifeguards are authorized to eject anyone from the pool grounds for any reason at anytime. </p>
 
</div>
</div>
{{ partial "footer.html" . }}
