{{ partial "header.html" . }}
{{ partial "toplinks.html" . }}
{{ partial "content.html" . }}

<p>Please choose one open section swim a day, and if we have openings we will be happy for you to stay.</p>

<p><strong>No guests are allowed at this time.</strong> A guest is anyone who does not live permanently in your household. Please review the waiver related to liability for COVID-19 online and be prepared to sign it at the pool prior to entry.</p>

<a class="btn btn-secondary" href="/pdf/pool-waiver-covid19.pdf">Review COVID-19 Waiver</a>

<h2>Pool section reservations</h2>

<p>Please pick which section you would like, your lot number/pool pass number and how many people from your household will be in the pool during that hour. </p>

<p>If you do not show for your reservation within 15 minutes, the reservation will be considered abandoned, and given to any members that call or come in.</p>

<p>The pool will be divided into 5 sections and allow one household/lot number per section to enjoy the pool. The baby pool will be included as a reservable section for your family.</p>

<p>
<img src="/img/pool-sections.jpg" />
</p>

<p>
<ol>
    <li>Deep End (Section 1 & 2)</li>
    <li>Shallow End (Section 3 & 4)</li>
    <li>Baby pool (Section 5)</li>
</ol>
</p>

<p><a class="btn btn-primary" href="https://www.signupgenius.com/go/904044DA4AE22A4FA7-july20thjul26th">Reserve Pool Section</a> (July 20 - 26)</p>

<p><a class="btn btn-primary" href="https://www.signupgenius.com/go/904044DA4AE22A4FA7-k5pool2">Reserve Pool Section</a> (July 13 - 19)</p>

<p><a class="btn btn-secondary" href="https://www.signupgenius.com/go/904044DA4AE22A4FA7-k5pool1">Reserve Pool Section</a> <strike>(July 6 - 12)</strike></p>

<p><a class="btn btn-secondary" href="https://www.signupgenius.com/go/904044DA4AE22A4FA7-k5pool">Reserve Pool Section</a> <strike>(June 25 - July 5)</strike></p>

<h2>Pool lessons sign up</h2>

<p>We will be having lessons, and they will run from 9:00am-11:30am, M-Th.</p>

<p>
<ol>
    <li>One on one 30 min lessons: $30 per kid, per 30 min.</li>
    <li>Group Lessons: $100 per kid, 8 lessons. Group of 3-4 kids with an instructor.</li>
</ol>
</p>

<p><a class="btn btn-primary" href="https://www.signupgenius.com/go/904044DA4AE22A4FA7-session1">Reserve Swimming Lessons</a> (Session 3, July 27 - Aug 6)</p>

<p><a class="btn btn-primary" href="https://www.signupgenius.com/go/904044DA4AE22A4FA7-session">Reserve Swimming Lessons</a> (Session 2, July 13 - July 23)</p>

<p><a class="btn btn-secondary" href="https://www.signupgenius.com/go/904044DA4AE22A4FA7-k5lessons">Reserve Swimming Lessons</a> <strike>(Session 1, June 29 - July 9)</strike></p>


<h2>Pool lap swim sign up</h2>

<p>One lap lane will be open every day 9:00am-11:30am M-Th, in 30-minute sessions.</p>

<p>One person at a time in the lane, unless it is family members, then you can have 2.</p>

<p><a class="btn btn-primary" href="https://www.signupgenius.com/go/904044DA4AE22A4FA7-lapswim2">Reserve Lap Swim</a> (July 20 - July 24)</p>

<p><a class="btn btn-primary" href="https://www.signupgenius.com/go/904044DA4AE22A4FA7-lapswim1">Reserve Lap Swim</a> (July 13 - July 17)</p>

<p><a class="btn btn-secondary" href="https://www.signupgenius.com/go/904044DA4AE22A4FA7-lapswim">Reserve Lap Swim</a> <strike>(July 6 - July 10)</strike></p>

<p><a class="btn btn-secondary" href="https://www.signupgenius.com/go/904044DA4AE22A4FA7-k5lapswim">Reserve Lap Swim</a> <strike>(June 29 - July 2)</strike></p>

<h2>Deck rules</h2>

<p>If you choose not to use the water, furniture will be spread out 6ft apart. We will also have prepackaged treats and drinks to purchase if you choose.</p>

<h2>Before coming to the pool</h2>

<p>We will be sending out a COVID waiver for each household to sign when they arrive at the pool.  We will not have access to the showers or changing stalls, but toilets and sinks will be available, along with hand sanitizer. </p>

{{ partial "footer.html" . }}
