{{ partial "header.html" . }}
{{ partial "toplinks.html" . }}
{{ partial "content.html" . }}


<div class="row">
<div class="col-md-3 col-md-push-9 col-sm-3 col-sm-push-9">
    <nav id="TableOfContents">
        <ul>
            <li><a href="#info">Info Sheet</a></li>
            <li><a href="#rules">Rules</a></li>
            <li><a href="#passes">Passes</a></li>
            <li><a href="#hours">Hours</a></li>
            <li><a href="#tabs">Pool Tabs</a></li>
            <li><a href="#parties">Parties</a></li>
            <li><a href="#lessons">Lessons</a></li>
            <li><a href="#swimteam">Swim Team</a></li>
            <li><a href="#lifeguards">Lifeguards</a></li>
        </ul>
    </nav>
</div>
<div class="col-md-9 col-md-pull-3 col-sm-9 col-sm-pull-3">
{{ partial "poolupdate.html" . }}

<div class="alert alert-info" role="alert">
    The pool opens Memorial Day weekend Saturday, May 25th to May 27th 12-8pm.<br />
    <br />
    Pool phone number: 425-821-7999<br />
    Pool manager: Lauren Johnson.<br />
</div>

<p>This is a private pool for those who live in the neighborhood and those who have purchased a pool pass. One-day passes are not sold. However, every household is allowed up to 4 guests/day at $4 per guest.</p>
 
<h2 id="info">Info Sheet</h2>

<p>We have a <a href="../pdf/poolinfo-2019.pdf">double-sided information sheet</a> you can download and print with all the important information for the 2019 pool season.</p>

<h2 id="rules">Rules</h2>

<p>View our <a href="/pool-rules/">pool rules online</a> or visit the front desk for a copy. All of our lifeguards are authorized to eject anyone from the pool grounds for any reason at anytime.</p>
 
<h2 id="passes">Passes</h2>

<p>Each year we sell a limited number of pool passes to outside members. The pass is for your current household members. If you were a 2018 Pool Pass member and wish to renew your membership please <a href="../pdf/kingsgate5-pooluse-2019.pdf">download the form</a> with payment of $600.00 and mail to:</p>
 
<blockquote>
    Kingsgate V HOA<br />
    P.O. Box 1791<br />
    Woodinville WA. 98072<br />
</blockquote>

<p>Refund Policy: All transactions are final, no refunds will be processed. In the event of a billing error, please send email to: <a href="mailto:treasurer@kingsgate5.com">treasurer@kingsgate5.com</a></p>

<h2 id="hours">Hours</h2>
 
<p>May 25th - June 23rd the pool is open Monday - Friday 4:00-6:00pm (swim team practices from 6:15-9:15)<br />
Saturday 12-8pm / Sunday 12-7pm</p>
<p>Summer Hours start on June 24th and are as follows:</p>
<table class="infotable">
    <tr><th>Weekdays</th><td>12:15pm-8:00pm</td></tr>
    <tr><th>Saturday</th><td>12:00pm-8:00pm</td></tr>
    <tr><th>Sunday	</th><td>12pm-7pm *Note-early closure to allow for pool rental</td></tr>
</table>

<p>The pool will close at 3:30 for swim meets on the following dates: <strong>June 18th, 25th, July 11th, and July 18th.</strong></p>
 
<p>NOTE: The first part of the season the pool is shared with the Gators swim team.</p>
 
<h3>Extended Hours</h3>

<p>The pool may be open until 9:00 PM on warm weather days provided there is no pool party scheduled that night and there is life guard availability.  Please call the pool house to see if it will be opened until 9PM.</p>

<p>Beginning the week of June 24th, Thursday evenings the pool will stay open from 8-9pm for adult only swim depending on staff availability and homeowner demand.</p>

<h2 id="tabs">Pool Tabs</h2>

<p>Purchase a pool tab! You can put up to $20 on a punch card to be used at the pool for concessions. Please purchase the punch card at the front desk. Note that the tabs will not roll over after the end of the year, so you must spend your tab the same summer it's opened.</p>
 
<h2 id="parties">Parties</h2>

<p>Pool parties are available to members/pool pass purchasers only. Prices vary depending on the number of people and the duration of the party. The base price is $75/hour with a $35 charge if an extra guard is needed. Payment is due at the time of booking and is non-refundable. The pool party rules and reservation form is available online (<a href="../pdf/poolparty-rules.pdf">Pool Party Rules and Reservation</a>) or at the pool.</p>

<p>Hours available for parties:</p>

<ul>
    <li>Monday-Saturday Nights: 8pm – 10pm</li>
    <li>Saturday & Sunday Mornings: 10am – 12pm</li>
    <li>Sunday Evenings: 7pm – 9pm</li>
</ul>
 
<h2 id="lessons">Lessons</h2>

<p>Swim lessons are available for members ($75) and non-members ($100). The lessons are 25 minutes each day and will run for 9 days between the hours of 10-12, Our average class size is 4-6 per class and the levels are listed at the pool. If you are uncertain of the level your child should be placed in you can contact one of our swim instructors by calling the pool; we will then schedule an assessment. Registration begins Memorial Day weekend in the pool office and payment is due at registration. We do our best to schedule siblings as close to the same time as possible. You will be given a call to confirm your child's time slot the Thursday before the start of the next session. </p>

<p>
    <table class="infotable">
        <tr><th>Session 1</th><td>June 24th - July 5th (No class on July 4th)</td></tr>
        <tr><th>Session 2</th><td>July 8th - July 18th</td></tr>
        <tr><th>Session 3</th><td>July 22rd - August 1st</td></tr>
        <tr><th>Session 4</th><td>August 5th - August 15th </td></tr>
    </table>
</p>

<p>Please call the pool at 425-821-7999 with any questions.</p>

<h2 id="swimteam">Swim Team</h2>

<p>We are proud to host the Kingsgate Gators swim team at our pool!  This team is open to all homeowners and pool pass purchasers ages 6-18.</p>
 
<p>If you have any questions about the Gators, including team fees, visit their website at:</p>

<p><a href="http://www.kingsgategators.org/">http://www.kingsgategators.org</a></p>
 
<h2 id="lifeguards">Lifeguards</h2>

<p>We have 2 certified lifeguards on duty at all times.  No one under the age of 7 will be allowed in the deep end without an adult.  A swim test will be given to all other young swimmers before being allowed in the deep end.</p>
 
<p>Children who are 9 and older and have passed the swim test may come to the pool by themselves.  Artificial swimming aids are only allowed in the pool when accompanied by an adult. All of our lifeguards are authorized to eject anyone from the pool grounds for any reason at anytime. </p>
 
</div>
</div>
{{ partial "footer.html" . }}
