{{ partial "header.html" . }}
{{ partial "toplinks.html" . }}
{{ partial "content.html" . }}

<p>Please choose one open section swim a day, and if we have openings we will be happy for you to stay.</p>

<p><strong>No guests are allowed at this time.</strong> A guest is anyone who does not live permanently in your household. Please review the waiver related to liability for COVID-19 online and be prepared to sign it at the pool prior to entry.</p>

<a class="btn btn-secondary" href="/pdf/pool-waiver-covid19.pdf">Review COVID-19 Waiver</a>

<h2>Pool section reservations</h2>

<p>Please pick which section you would like, your lot number/pool pass number and how many people from your household will be in the pool during that hour. </p>

<p>If you do not show for your reservation within 15 minutes, the reservation will be considered abandoned, and given to any members that call or come in.</p>

<p>The pool will be divided into 5 sections and allow one household/lot number per section to enjoy the pool. The baby pool will be included as a reservable section for your family.</p>

<p>
<img src="/img/pool-sections.jpg" />
</p>

<p>
<ol>
    <li>Deep End (Section 1 & 2)</li>
    <li>Shallow End (Section 3 & 4)</li>
    <li>Baby pool (Section 5)</li>
</ol>
</p>

<p><button class="btn btn-primary" data-target="#eligibility" data-toggle="modal" data-reslink="https://www.signupgenius.com/go/904044DA4AE22A4FA7-aug17aug23">Reserve Pool Section</button> (Aug 17 - Aug 23)</p>

<p><button class="btn btn-primary" data-target="#eligibility" data-toggle="modal" data-reslink="https://www.signupgenius.com/go/904044DA4AE22A4FA7-aug10aug16th">Reserve Pool Section</button> (Aug 10 - Aug 16)</p>

<h2>Pool lessons sign up</h2>

<p>We will be having lessons, and they will run from 9:00am-11:30am, M-Th.</p>

<p>
<ol>
    <li>One on one 30 min lessons: $30 per kid, per 30 min.</li>
    <li>Group Lessons: $100 per kid, 8 lessons. Group of 3-4 kids with an instructor.</li>
</ol>
</p>

<p><button class="btn btn-primary" data-target="#eligibility" data-toggle="modal" data-reslink="https://www.signupgenius.com/go/904044DA4AE22A4FA7-4thsession">Reserve Swimming Lessons</button> (Session 4, Aug 10 - Aug 20)</p>

<p><button class="btn btn-primary" data-target="#eligibility" data-toggle="modal" data-reslink="https://www.signupgenius.com/go/904044DA4AE22A4FA7-session1">Reserve Swimming Lessons</button> (Session 3, July 27 - Aug 6)</p>

<h2>Pool lap swim sign up</h2>

<p>One lap lane will be open every day 9:00am-11:30am M-Th, in 30-minute sessions.</p>

<p>One person at a time in the lane, unless it is family members, then you can have 2.</p>

<p><button class="btn btn-primary" data-target="#eligibility" data-toggle="modal" data-reslink="https://www.signupgenius.com/go/904044DA4AE22A4FA7-lapswim6">Reserve Lap Swim</button> (Aug 17 - Aug 21)</p>

<p><button class="btn btn-primary" data-target="#eligibility" data-toggle="modal" data-reslink="https://www.signupgenius.com/go/904044DA4AE22A4FA7-lapswim5">Reserve Lap Swim</button> (Aug 10 - Aug 14)</p>

<h2>Deck rules</h2>

<p>If you choose not to use the water, furniture will be spread out 6ft apart. We will also have prepackaged treats and drinks to purchase if you choose.</p>

<h2>Before coming to the pool</h2>

<p>We will be sending out a COVID waiver for each household to sign when they arrive at the pool.  We will not have access to the showers or changing stalls, but toilets and sinks will be available, along with hand sanitizer. </p>

<div id="eligibility" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Eligibility</h4>
      </div>
      <div class="modal-body">
        <form>
        <p>
           In order to make reservations at the pool, you must be a member of the Kingsgate 5 Homeowner's Association in good standing or a pool pass purchaser for the 2020 pool year. Please select to continue: 
        </p>
        <div class="form-group">
        <div class="radio">
            <label>
        <input id="owner" type="radio" name="type" />I am a <strong>Kingsgate 5 homeowner</strong> or permanent resident of a home in Kingsgate 5
</label>
        </div>
        <div class="radio">
            <label>
        <input id="purchaser" type="radio" name="type" />I am a <strong>pool pass purchaser</strong> for the 2020 pool year</label>
        </div></div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button disabled="true" data-dismiss="modal" type="button" id="proceed" class="btn btn-disabled">Proceed to Reservation</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

var activate = function() {
    $('#proceed').removeClass("btn-disabled");
    $('#proceed').addClass("btn-primary");
    $('#proceed').attr("disabled", false);
}
var dest = "";
var butt = "";

$('#owner').change(activate);

$('#purchaser').change(activate);

$('#proceed').on('click', function(event) {
    if (dest && !$('#proceed').disabled) {
        window.location.href = dest;
    }
})

$('#eligibility').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget);
  dest = button.data('reslink');
    console.log(button);
    console.log(dest)
});
</script>
{{ partial "footer.html" . }}
