{{ partial "header.html" . }}
{{ partial "toplinks.html" . }}
{{ partial "content.html" . }}


<div class="row">
<div class="col-md-3 col-md-push-9 col-sm-3 col-sm-push-9">
    <nav id="TableOfContents">
        <ul>
            <li><a href="#hours">Hours</a></li>
            <li><a href="#covid">COVID-19</a></li>
            <li><a href="#rules">Rules</a></li>
            <li><a href="#parties">Parties</a></li>
            <li><a href="#lessons">Lessons</a></li>
            <li><a href="#swimteam">Swim Team</a></li>
            <li><a href="#lifeguards">Lifeguards</a></li>
        </ul>
    </nav>
</div>
<div class="col-md-9 col-md-pull-3 col-sm-9 col-sm-pull-3">
{{ partial "poolupdate.html" . }}

<div class="alert alert-info" role="alert">
    The pool opens Memorial Day weekend, Saturday, May 29th.<br />
    <br />
    Pool phone number: 425-821-7999<br />
    Pool manager: Sarah Starr.<br />
</div>

<h2 id="hours">Hours</h2>

<h3>May 29th - June 17th</h3>
<p>Weekdays M-Th 4pm - 6pm</p>
<p>Fridays 4pm - 8pm</p>
<p>Weekends 12pm - 8pm</p>

<h3>June 18th - Sept 6th</h3>
<p>Weekdays 12pm - 8pm</p>
<p>Lap Swim weekdays 7am - 11am (<a href="https://www.signupgenius.com/go/10C0E4FA5AD2CA1FF2-lapswim1">sign up online</a>)</p>
<p>Weekends 12pm - 8pm</p>

<div class="alert alert-info" role="alert">
Gators home virtual swim meets are scheduled for June 29th, July 6th, 13th and 20th. On these dates, the pool is open from 12pm-4:30pm for open swim and then closed the remainder of the evening for the meet.
</div>

<h2 id="covid">COVID-19</h2>

<h3>In All King County Phases</h3>
<ul>
    <li>A <a href="/pdf/pool-waiver-covid19.pdf">COVID waiver</a> must be signed or updated for every member and household.</li>
    <li>Masks must be worn in lobby and restrooms.</li>
    <li>Social distancing must be followed with people outside your household.</li>
</ul>

<h3>In Phase 3 (Current Phase)</h3>

<p>No reservations in this phase; we will have open swim with up to <strong>28</strong> people in the pool.</p>

<p>Social distancing is required for non-household members.</p>
<p>Showers and changing rooms will be open, but social distancing must be followed.</p>
<p>Guests are allowed with HOA/Pool pass holder, up to 4 guests, $5 each.</p>
<p>Limit of 2 hours at the pool will be enforced if other members are waiting to use the pool. <em>2 Hour Protocol</em>: The first lot to check in that has hit 2 hours, will be asked to leave if members are waiting to enter the pool.</p>

<h2 id="parties">Pool Parties and Rentals</h2>

<p>Parties and rentals are available with a maximum of 25 people in Phase 3.</p>
<p>HOA/Pool pass holder hosts must abide by all COVID procedures, follow social distancing protocols and be present at the party.</p>
<p>NO outside food or drink.</p>
<p>NO showers or changing areas open. Restrooms and sinks will be available.</p>
<p>All patrons on deck and in the pool must have a <a href="/pdf/pool-waiver-covid19.pdf">COVID waiver</a> signed.</p>
<p><strong>Prices: $100 for one hour, $200 for 2 hours.</strong></p>
<p><strong>Reservations:</strong> Begin May 29th, with a 2-week advance notice required, subject to manager approval.</p>
<p>Reservations made at pool by HOA/Pool pass holder only.</p>
<h3>Dates/times:</h3>
<p>June 4th - June 18th - Weekends 10am-12pm, and 8pm-10pm.</p>
<p>June 18th - Sept 6th - Weeknights 8pm-10pm, Weekends 10am-12pm, and 8pm-10pm.</p>

<h2 id="rules">Rules</h2>

<p>View our <a href="/pool-rules/">pool rules online</a> or visit the front desk for a copy. All of our lifeguards are authorized to eject anyone from the pool grounds for any reason at anytime.</p>
 
<h2 id="passes">Passes</h2>

<p>Each year we sell a limited number of pool passes to outside members. The pass is for your current household members. If you were a 2020 Pool Pass member and wish to renew your membership please <a href="../pdf/kingsgate5-pooluse-2021.pdf">download the form</a> with payment of $625.00 and mail to:</p>
 
<blockquote>
    Kingsgate V HOA<br />
    P.O. Box 1791<br />
    Woodinville WA. 98072<br />
</blockquote>

<p>Refund Policy: All transactions are final, no refunds will be processed. In the event of a billing error, please send email to: <a href="mailto:treasurer@kingsgate5.com">treasurer@kingsgate5.com</a></p>

<h2 id="lessons">Lessons</h2>

<p>Lessons are open to all public, with no refunds.</p>
<p><strong>Cost</strong>: $100 per kid for group lessons (4-5 kids per group) Age 4 and up.</p>
<p>Levels: 1,2,3, 4 and 5+</p>
<p><strong>Times:</strong> 9:30am-11:30am, 25 min sessions for 9 days.</p>
<p>Session 1: June 21st - July 1st (Full)</p>
<p>Session 2: July 5th - July 15th (Full)</p>
<p>Session 3: July 19th - July 29th (Full)</p>
<p>Session 4: August 2nd - August 12th</p>

<h2 id="swimteam">Swim Team</h2>

<p>We are proud to host the Kingsgate Gators swim team at our pool!  This team is open to all homeowners and pool pass purchasers ages 6-18.</p>
 
<p>If you have any questions about the Gators, including team fees, visit their website at:</p>

<p><a href="http://www.kingsgategators.org/">http://www.kingsgategators.org</a></p>
 
<h2 id="lifeguards">Lifeguards</h2>

<p>We have 2 certified lifeguards on duty at all times.  No one under the age of 7 will be allowed in the deep end without an adult.  A swim test will be given to all other young swimmers before being allowed in the deep end.</p>
 
<p>Children who are 9 and older and have passed the swim test may come to the pool by themselves.  Artificial swimming aids are only allowed in the pool when accompanied by an adult. All of our lifeguards are authorized to eject anyone from the pool grounds for any reason at anytime. </p>
 
</div>
</div>
{{ partial "footer.html" . }}
