.site-title {
  text-align: center;
  color: white;
}

.site-title h1 {
  border: 4px solid white;
  padding: 15px;
  overflow: hidden;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  font-family: "Open Sans", sans-serif;
}

.site-title h1, 
a.homelink {
  font-weight: light;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: inline-block;
}

.site-title h2 {
  margin-top: 0;
  font-weight: 300;
  font-size: medium;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

article h1 {
  font-family: "Merriweather", serif;
  margin-bottom: 5px;
}

article h1 a {
  text-decoration: none;
}

article h2 {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 300;
  color: #808080;
  font-size: medium;
  margin-top: 0.5em;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.header {
  height: 400px;
  margin-bottom: 60px;
  color: white;
}

.section-header {
  height: 200px;
}

.header nav {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

nav ul {
  list-style: none;
  font-size: large;
  overflow: hidden;
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
}

nav li, 
nav a {
  color: white;
  text-decoration: none;
}

.content nav li,
.content nav a {
   color: black;
   font-size: medium;
}

.content nav li li li {
   display: none;
}

.header nav li {
  letter-spacing: 0.1em;
  margin-right: 1em;
  margin-left: 1em;
}

.content nav li {
  margin-right: 1em;
}

nav li {
  display: inline-block;
  text-transform: uppercase;
}

.content, 
.posts {
  padding-top: 50px;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #efefef;
  padding-bottom: 100px;
}

a.homelink {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.content h2 {
  font-family: "Merriweather", serif;
  clear: left;
}

.section-header h1 {
  color: white;
  margin-left: 20%;
  font-size: 35pt;
  font-family: "Open Sans", sans-serif;
}

a i.fa-facebook,
a.homelink {
  color: white;
  padding: 5px;
  border: 2px solid white; 
  margin: 10px;
}

a i.fa-facebook {
  padding: 7px 10px 7px 10px;
  font-size: 15px;
  float: right;
}


.content-thumbnail,
.document-thumbnail img {
  border: 1px solid #A0A0A0;
  box-shadow: 3px 3px 10px #A0A0A0;
}

.content-thumbnail: {
  float: right;
}

.document-thumbnail {
  display: inline-block; 
}

.document-thumbnail figcaption {
  text-align: center;
  color: #909090;
  font-weight: 300;
}

@media (max-width: 700px) {
  .header {
    height: 300px;
  }
  .site-title {
    height: 180px;
    width: 50%;
    margin-top: -1%;
    margin-left: 25%;
    display: table;
  }
  .site-title h1 {
    margin-top: 20px;
  }
  .posts { 
    margin-left: 5%;
    margin-right: 5%;
  }
}
